<div class="card border-primary mb-3 ">
  <div class="card-header">Registrar usuario</div>
  <div class="card-body text-primary">
    <form class="container" (ngSubmit)="saveUser()" [formGroup]="userForm">
      <div class="form-group">
        <label for="formGroupExampleInput">Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
      </div>
      <p class="alert alert-danger"
        *ngIf="userForm.controls['name'].hasError('required') && userForm.controls['name'].touched">
        Nombre requerido
      </p>
      <div class="form-group">
        <label for="formGroupExampleInput2">Email</label>
        <input type="email" [class.is-invalid]="valEmail.invalid && valEmail.touched" class="form-control"
          formControlName="email" placeholder="Ingrese su email ej: xxx@xxx.xxx">
      </div>
      <div *ngIf="(valEmail.invalid && valEmail.touched) || valEmail.dirty">
        <small *ngIf="valEmail.errors?.required" class="text-danger">Correo requerido</small>
        <small *ngIf="valEmail.errors?.pattern" class="text-danger">Ingrese un email valido</small>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Contraseña</label>
        <input type="text" class="form-control" formControlName="password" placeholder="Ingrese su contraseña">
      </div>
      <p class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('minlength')">
        La contraseña debe tener minimo 5 caracteres.
      </p>
      <p class="alert alert-danger" *ngIf="userForm.controls['password'].hasError('maxlength')">
        La contraseña debe tener máximo 15 caracteres.
      </p>
      <p class="alert alert-danger"
        *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">
        Contraseña requerida.
      </p>
      <div class="form-group" formGroupName="phone">
        <label for="formGroupExampleInput2">Otros datos</label>
        <input type="text" class="form-control" formControlName="number" placeholder="Ingrese su número">
        <p class="alert alert-danger"
          *ngIf="this.dataControls.phone.get('number').hasError('required') && this.dataControls.phone.get('number').touched">
          Numero requerido
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('number').hasError('minlength')">
          El numero debe tener minimo 9 y solo caracteres numéricos
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('number').hasError('maxlength')">
          El numero debe tener máximo 9 y solo caracteres numéricos
        </p>
        <hr>
        <input type="text" class="form-control" formControlName="citycode" name="citycode" placeholder="Código ciudad">
        <p class="alert alert-danger"
          *ngIf="this.dataControls.phone.get('citycode').hasError('required') && this.dataControls.phone.get('citycode').touched">
          Código ciudad requerido
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('citycode').hasError('minlength')">
          El código debe tener solo valores numéricos y minimo 1 digito.
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('citycode').hasError('maxlength')">
          El código debe tener solo valores numéricos y máximo 2 digito.
        </p>
        <hr>
        <input type="text" class="form-control" formControlName="contrycode" name="contrycode"
          placeholder="Código país">
        <p class="alert alert-danger"
          *ngIf="this.dataControls.phone.get('contrycode').hasError('required') && this.dataControls.phone.get('contrycode').touched">
          Código país requerido
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('contrycode').hasError('minlength')">
          El código debe tener minimo 2 caracteres solamente numéricos.
        </p>
        <p class="alert alert-danger" *ngIf="this.dataControls.phone.get('contrycode').hasError('maxlength')">
          El código debe tener máximo 3 caracteres solamente numéricos.
        </p>
        <hr>
      </div>

      <div style='text-align:center'>
        <button *ngIf="!user" [disabled]="!userForm.valid" type="submit"
          class="btn btn-primary btn-sm m-1">Crear</button>
        <button *ngIf="user" type="submit" class="btn btn-warning btn-sm m-1">Aceptar</button>
        <button type="submit" (click)="backList()" class="btn btn-danger btn-sm m-1">Cancelar</button>
      </div>
    </form>
  </div>
</div>